$h_background: #303841;
//$h_accent: #ea9215;
$h_pink: #5C1349;
$h_lightpink: hsl(339, 49%, 52%);
$h_white: #eeeeee;
// 3a4750
$h_gray0: #D0D0D0;
$h_gray1: #999999;
$h_gray2: #777777;
$h_gray3: #555555;
$h_gray4: #333333;
$h_gray5: #303841;
