
.floating-btn {
    width: 50px;
    height: 50px;
    background: $h_pink;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #fff;
    font-size: 40px;
    border: none;
    box-shadow: 2px 2px 5px rba(0, 0, 0, 0.25);
    position: fixed;
    right: 70px;
    bottom: 70px;
    transition: background 0.25s;
    cursor: pointer;
    &:focus{    
        outline: none;
    }
    
    &:active{
        background: $h_lightpink;
    }
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
  .popup_inner {
    border-radius: 4px;
    position: absolute;
    left: 35%;
    right: 40%;
    top: 10%;
    bottom: 50%;
    margin: auto;
    background: $h_white;
    h2, input {
      margin: 10px;
    }
  
    p {
      margin: 10px;
    }
    p.para {
      margin-bottom: 9%;
      text-align: center;
    }
  
    input {
      padding: 5px;
      background-color: $h_white;
      border: 1px solid $h_gray0;
      padding: 10px;
      width: stretch;
    }
  
    button.add-btn{
      display: flex;
      margin: 0 auto;
      padding: 10px 40px;
      background: $h_pink;
      border: none;
      color: $h_white;
      font-weight: bold;
      border-radius: 3px;
      margin-top: 3%;
      box-shadow: 2px 2px 4px rgba(0,0, 0, 0.25);
    }
  
    .popup-header{
      display: flex;
      justify-content: space-between;
      button{
        background-color: transparent;
        font-size: 15px;
        font-weight: bold;
        padding: 15px;
        border: none;
        outline: none;
        &:focus {
          border: 2px solid $h_gray0;
        }
      }
    }
  }
}

